@mixin element-primary() {
  color: black;
  font-family: arial, sans-serif;
  //font-family: 'Open Sans', sans-serif !important;
}

@mixin element-secondary() {
  color: white;
  font-family: 'Open Sans', sans-serif;
}