<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Structural</title>
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/responsive.css"/>
    <link rel="stylesheet" href="css/fonts.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script type="text/javascript" src="js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="js/lib/snap.svg-min.js"></script>
    <script type="text/javascript" src="js/lib/structural.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</head>
<body>
header
