<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="css/style.css"/>
    <script type="text/javascript" src="js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="js/lib/snap.svg-min.js"></script>
    <script type="text/javascript" src="js/lib/structural.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    {% comment %} Insert data structure init code... {% endcomment %}
    {% if page.init %}
        <script type="text/javascript" src="js/{{page.init}}_init.js"></script>
    {% endif %}
</head>
<body>
<div class="wrap">
    <div class="top">
        <div class="section group">
            <div class="col span_1_of_4">
                <h1 class="logo">Structural</h1>
            </div>
            <div class="col span_3_of_4">
                <ul class="nav">
                    <li>ABOUT</li>
                    <li>GUIDE</li>
                    <li>GITHUB</li>
                </ul>
            </div>
        </div>
    </div>

