@import 'variables';

.btn {
  display: inline-block;
  background-color: $primary-color;
  color: $text-color;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: $transition-time-short;
  /*position: relative;*/
  
  background: rgba(0, 0, 255, .4);
  z-index: 2;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-in {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  overflow: hidden;
}

.btn-mask {
  background: url('../img/triangular.png');
  z-index: 1;
  transition: $transition-time-short; 
}

.btn-content {
  background: rgba(0, 0, 255, .6);
  z-index: 2;
  color: white;
  transition: $transition-time-short; 
}

.btn-content:hover {
  background: rgba(0, 0, 255, .5);
  z-index: 2;
  color: white;
  transition: $transition-time-short; 
}

.btn-content:active {
  background: rgba(0, 0, 255, .6);
  z-index: 2;
  color: white;
  transition: $transition-time-short; 
}

.btn:hover {
  /*background-color: $primary-light;
  transition: $transition-time-short;*/
  background: /*linear-gradient(
    rgba(0, 0, 200, .4),
    rgba(0, 0, 200, .4)
  ),*/
  url('../img/triangular.png');
  color: white;
  transition: $transition-time-short;
}

.btn:active {
  background-color: $primary-color;
  transition: $transition-time-micro;
}

.btn-alternate {
  background-color: $primary-alt;
}

.btn-alternate:hover {
  background-color: $primary-alt-light;
  transition: $transition-time-short;
}

.btn-alternate:active {
  background-color: $primary-alt;
  transition: $transition-time-micro;
}