* {
  box-sizing: border-box;
}

// Layout

$top-height: 75px;
$button-row: 175px;

// Transition Times

$transition-time-micro: .1s;
$transition-time-short: .25s;


// Typography

$font-family-primary: arial, sans-serif;
$font-family-secondary: 'Open Sans';

$font-size-small: 12pt;
$font-size-medium: 26pt;
$font-size-large: 32pt;


// Colors

$color-primary: #000000;

$color-action-primary: #4747d1;
$color-action-secondary: #ffffff;


// Buttons

$btn-border-radius: 5px;
$btn-background-color: rgba(0, 0, 255, .6);
$btn-background-pattern: url('../img/triangular.png');

// Page

$page-section-height-small: 100px;
$page-section-height-medium: 200px;
$page-section-height-large: 300px;


// Mixins

@mixin user-select($bool) {
  -webkit-touch-callout: $bool;
  -webkit-user-select: $bool;
  -khtml-user-select: $bool;
  -moz-user-select: $bool;
  -ms-user-select: $bool;
  user-select: $bool;
}
