$primary-color: #4747d1;
$primary-light: #5959D6;

$primary-alt: #11ac3f;
$primary-alt-light: #1ccf53;

$dark: #222;


$text-color: #ffffff;

$fonts: 'Open Sans', arial, sans-serif;

$transition-time-micro: .1s;
$transition-time-short: .25s;

$top-height: 75px;
$padding-horizontal: 15%;


