---
layout: default
---
<div class="section group">
    <div class="bar">
        <span>{{page.structure}}</span>
    </div>
</div>
<div class="section group structure-show">
    <div class="col span_2_of_4 structure-stage" id="structure-stage">
    </div>
    <div class="col span_2_of_4 structure-terminal">
    </div>
</div>
<div class="section group">
    <div class="bar">
        <span>Available Methods</span>
    </div>
    {% for method in page.methods %}
    <h3>{{ method }}</h3>
    {% endfor %}
</div>

<!--<div class="section group">
    {%include docs/docs_array.html %}
</div>-->
